@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */



@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}


.animateViewPort {
  animation: apper linear;
  animation-timeline: view();
  animation-range: entry 50% contain 40%;
  animation-fill-mode: both;
}

@keyframes apper {
  from {
      opacity: 0;
      scale: 0.8;
  }
  to {
      opacity: 1;
      scale: 1;
      transform: translateX(0);
  }
}

.animatexView:nth-child(odd) {
  transform: translateX(30%);
}
.animatexView:nth-child(even) {
  transform: translateX(-30%);
}

.animatexView {
  animation: trans linear;
  animation-timeline: view();
  animation-range: entry 20% contain 10%;
  animation-fill-mode: both;
}

@keyframes trans {
  from {
      opacity: 0;
      scale: 0.8;
  }
  to {
      opacity: 1;
      scale: 1;
      transform: translateX(0);
  }
}
.animatexrever:nth-child(odd) {
  transform: translateX(-30%);
}
.animatexrever:nth-child(even) {
  transform: translateX(30%);
}

.animatexrever {
  animation: rever linear;
  animation-timeline: view();
  animation-range: entry 20% contain 10%;
  animation-fill-mode: both;
}

@keyframes rever {
  from {
      opacity: 0;
      scale: 0.8;
  }
  to {
      opacity: 1;
      scale: 1;
      transform: translateX(0);
  }
}

.animateyView:nth-child(odd) {
  transform: translateY(50%);
}
.animateyView:nth-child(even) {
  transform: translateY(-50%);
}
.animateyView {
  animation: transy linear;
  animation-timeline: view();
  animation-range: entry 20% contain 10%;
  animation-fill-mode: both;
}
@keyframes transy {
  from {
      opacity: 0;
      scale: 0.8;
  }
  to {
      opacity: 1;
      scale: 1;
      transform: translateX(0);
  }
}
video::-webkit-media-controls {
  display: none !important;  /* Chrome, Safari, etc. */
}

video::-moz-media-controls {
  display: none !important;  /* Firefox */
}

video::-ms-media-controls {
  display: none !important;  /* Internet Explorer */
}